# Configurações do Banco de Dados Railway
DB_HOST=maglev.proxy.rlwy.net
DB_PORT=49541
DB_NAME=railway
DB_USER=root
DB_PASSWORD=bhXrFlPqBgBWkxRnVeLlNTHXSnLFKqvS

# Configurações da Aplicação
SERVER_PORT=8080
